@page "/game"
@using TDD_Squirrel.Components

<PageTitle>Brettspiel</PageTitle>

<h3>Schlange-Leiter-Spiel</h3>
<div>
    <input type="number" min="1" @bind-value="@_preparationBoardSize"/>&nbsp;Spielfeldgröße
</div>
<button @onclick="StartNewGame"> Spiel starten</button>
<div>
    @if (_showGame)
    {
        <h5>Spielbrett</h5>

        <button @onclick="MovePiece" disabled="@_disabledDie">Die</button>

        <div>
            @for (var y = 0; y < _numberOfRows; y++)
            {
                var currentYIndex = y;
                <div class="row-content">
                    @for (var i = 0; i < _numberOfFields; i++)
                    {
                        var currentXIndex = i;
                        var position = (currentXIndex, currentYIndex);
                        <Field>
                            @if (position == _piecePosition)
                            {
                                <div class="field-content">
                                    <GameFigure></GameFigure>
                                </div>
                            }
                        </Field>
                    }
                </div>
            }
        </div>
    }
</div>