@page "/"

<PageTitle>Startseite</PageTitle>

<h1>Willkommen</h1>

Dies ist das Frontend f&uuml;r das Schlangen-Leiter-Spiel, aus dem Kurs
"Knack die Nuss mit TDD - Testgetriebene Softwareentwicklung im Praxistest"